<div class="main-card mb-3 card">
    <div class="card-header">
        <h3 class="card-title">Editar sucursal</h3>
    </div>
    <div class="card-body">
        <%= render 'form', sucursal: @sucursal, button_name: "Editar Sucursal" %>
    </div>
</div>

<% if @sucursal.empleados.count > 0%>
    <%= render 'empleados_table' %>
<% end %>
