<div class="main-card mb-3 card">
    <div class="card-header">
        <h3 class="card-title">Registrar sucursal</h3>
    </div>
    <div class="card-body">
        <%= render 'form', sucursal: @sucursal %>
    </div>
</div>

<br />
<%= link_to "Regresar", sucursals_path, class: 'btn btn-default float-end' %> 