<% if notice %>
    <div class="row">
        <div class="col-lg-12">
            <div class="alert alert-primary alert-dismissible fade show" role="alert">
                <%= simple_format(notice) %>
                <%= button_tag '', 
                    type: 'button', 
                    class: 'btn-close', 
                    aria: { label: 'Close' },
                    data: { 'bs-dismiss': 'alert'} 
                %>
            </div>
        </div>
    </div>
<% end %>

<% if alert %>
    <div class="row">
        <div class="col-lg-12">
            <div class="alert alert-danger " role="alert">
                <%= simple_format(alert) %>
                <%= button_tag '', 
                    type: 'button', 
                    class: 'btn-close', 
                    aria: { label: 'Close' },
                    data: { 'bs-dismiss': 'alert'} 
                %>
            </div>
        </div>
    </div>
<%end%>