 <hr class="featurette-divider">
<footer class="container">
    <p class="float-right">
        <a href="#">Regresar al inicio</a>
    </p>
    <p>&copy; <%=DateTime.now.strftime('%Y')%> Victor Ramos </p>
</footer>